@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.container-snap::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .pages {
    @apply hover:text-green-500  lg:hover:text-green-500 lg:hover:bg-gray-700 lg:w-full lg:p-3;
  }
  .navbar {
    @apply hidden lg:flex lg:text-sm lg:mx-5 lg:flex lg:flex-col lg:items-center;
  }
  .appBtn {
    @apply lg:w-20 lg:border lg:border-white;
  }
  .genre {
    @apply flex flex-row p-3 overflow-x-auto container-snap whitespace-nowrap space-x-5 ml-2 z-20;
  }
  .sample-slider {
    @apply w-[50px];
  }
}
